body {
    font-family: sans-serif;
}

header{

  background-color:#ADD8E6 ;
    
}


h1{
text-align: center;
 background-color:#ADD8E6 ;

 color: rgb(38, 0, 255);

}

footer{
    background-color: white;
}

footer p{
    background-color: green;
}
main{
    text-align: center;
}

h2{
  background-color: yeellow ;
}


img{

background-color:purple ;

}


p {

background-color: yellowgreen ;

}

h1 {


color: red ;

}
